<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Angular Link Vote</a>
</nav>

<div class="container p-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <h3 class="card-header">ADD a Link</h3>
        <form class="card-body">
          <label for="title">Tilte: </label>
          <input type="text" name="title" #title class="form-control" autofocus>
          <label for="link">Link: </label>
          <input type="text" name="link" #link class="form-control">
          <div (click)="addLink(title, link)" class="btn btn-primary btn-block mt-4">
            Submit Link
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <app-link *ngFor="let link of links" [link]="link" ></app-link>
</div>